{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('sorties') }}">Sortir</a>
        <button class="navbar-toggler collapsed navbar-mobile" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse navbar-mobile" id="navbarTogglerDemo03" style>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sorties') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('gestionnaire_profil') }}">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}" tabindex="-1">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>


{% endblock %}