body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}
.row-test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}
.duree{
    display: flex;
    justify-content: space-between;
}
.form-duree{
    width: min-content;
    margin-left: 1rem;
}
.lieu{
    display: flex;
    justify-content: space-between;
}
.form-lieu{
    width: min-content;
    margin-left: 1rem;
}
@media screen and (min-width: 600px) and (min-height: 900px){
    #search-form{
        display: none;
    }
    .table-sortie{
        display: none;
    }
    #creerSortie{
        display: none;
    }
    .row-test {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }
    .navbar-mobile{
        display: none;
    }
}

@media (max-width: 768px){
    .row-test {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }
}
.disable{
    display:none;
}
